<div id="AniGame" ng-controller="AnimalGame">
    <button ng-click="startGame()">Start game</button>
    <h1>{{score}} points</h1>
    <h3>What animal is this?</h3>
    <input type="text" ng-model="input" placeholder="Type the animal here" />
    <input type="submit" ng-click="getInput()" placeholder="SEND" />
    <img src="{{image}}" />
</div>