@*<div id="AniGame" ng-app="Game1" ng-controller="AnimalGame">
    <button ng-click="test()">Test</button>
    <button ng-click="gameStart()">Test2</button>
    <h1>{{animal}}</h1>
    <h1>{{score}}</h1>
    <h3>What animal is this?</h3>
*@
<div class="testDiv" ng-app="Game1" ng-controller="testCon">
    <h3>{{animal}}</h3>
</div>