
    <div ng-controller="PunctuationGameController">
        <div class="lead">Points: {{score}}</div>
        <input type="button" value="Start Game" ng-click="start()" />
        <!--<input type="button" value="Next question" ng-click="getNextQuestion()" />-->
        
        <div><input style="width: 90%" type="text" ng-model="answer" /></div>
        <div>{{message}}</div>
        <div><input type="button" value="Check" ng-click="checkAnswer()"/></div>


    </div>


