
    <div ng-controller="PunctuationGameController">
        <div class="lead">Points: {{score}}</div>
        <input type="button" value="Start Game" ng-click="start()" />
        <input type="button" value="Next question" ng-click="getNextQuestion()" />
        
        <div><input class="col-md-12" type="text" ng-model="answer" /></div>
        <div>{{message}}</div>
        <input type="button" value="Check" ng-click="checkAnswer()"/>


    </div>


