
@{
    ViewBag.Title = "Punctuation";
}

<div ng-controller="PunctuationGameController">
    <p class="lead">Points: {{score}}</p>
    <button value="Start Game"></button>
    <button value="Submit"></button>
    <p>{{currentSentence}}</p>


</div>
