
    <div ng-controller="PunctuationGameController">
        <div class="lead">Points: {{score}}</div>
        <input type="button" value="Start Game" ng-click="getNextQuestion()" />
        <input type="button" value="Submit"/>
        <div><input class="col-md-12" type="text" value={{currentQuestion}} /></div>


    </div>


