<div style="height: 100%" ng-controller="WordSentenceGame" >
    <div style="height: 80%" id="GameBody">
        <wordbutton text="Start Game" id="startbutton"></wordbutton>
        <finnishedbutton text="End Sentence"></finnishedbutton>
        <p id="sentence" class="lead"></p>
    </div>
    <div>
        <p class="lead" id="Score">Points: 0</p>
    </div>
</div>
<br />
