<div ng-controller="WordSentenceGame" id="GameBody">
    <p class="lead" id="Score">Points: 0</p>
    <wordbutton text="Start Game" id="startbutton"></wordbutton>
    <finnishedbutton text="End Sentence"></finnishedbutton>
    <p id="sentence"></p>
    <br />

</div>
<br />
